[Unit]
Description=vSMTP Mail Transfer Agent
Conflicts=sendmail.service exim4.service postfix.service
ConditionPathExists=/etc/vsmtp/vsmtp.toml
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
UMask=007
ExecStart=/usr/sbin/vsmtp -c /etc/vsmtp/vsmtp.toml
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
